<th:block layout:decorator="layout/layout" layout:fragment="content"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.w3.org/1999/xhtml">

    <!-- Page Content -->
    <div class="container" id="homePage">
        <div class="row mb-2">
            <div th:replace="card::card(
            cardTitle='Lista substytucji',
            cardText='Lista aktywnych substytucji.',
            href='/substitute/',
            class='list',
            hrefName='Lista',
            active=true)"></div>

            <div th:replace="card::card(
            cardTitle='Dodaj substytucję',
            cardText='Formularz dodawania substytucji.',
            href='/substitute/create/',
            class='plus',
            hrefName='Dodaj',
            active=false)"></div>
        </div>
        <div class="row mb-2">
            <div th:replace="card::card(
            cardTitle='Moje substytucje',
            cardText='Przegląd zleceniobiorców i akceptacja.',
            href='/mySubstitutes/',
            class='user-check',
            hrefName='Przejdź',
            active=false)"></div>
        </div>
    </div>

</th:block>

