<th:block layout:decorator="layout/layout" layout:fragment="content"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.w3.org/1999/xhtml">

    <!-- Page Content -->
    <div class="container" id="homePage">
        <h1>Welcome Home with layout</h1>
        <div class="container"><br/>
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>Success!</strong> It is working as we expected.
            </div>
        </div>
    </div>

</th:block>

